body {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
.emoji {
    font-size: 8rem;
    filter: grayscale(2);
    cursor: pointer;
    transition-duration: 222ms;
}
.emoji:hover {
    transform: scale(2.4);
    filter: grayscale(0);
}